.file_system_upload_file_button, .file_system_remove_file_button {
	margin-top:3px !important;
}

.pm-file-system-upload-field {
	width: 75%;
	padding: 5px;
	margin-right: 10px;
}

.pm-files-system-field-container {
	margin-bottom:10px;
}

.fw-file-information {
	margin:20px 0;
	display:inline-block;
	
}

.fw-file-information li:first-child {
	border-left:1px solid #dddddd;
}

.fw-file-information li {
	color:#666;
	display:inline;
	background-color:#f9f9f9;
	padding:10px;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	border-right:1px solid #dddddd;
}

.pm-files-system-field-container {
	padding-left:50px;
	position: relative;
}

.fw-file-drag-handle {
	position: absolute;
	top:4px;
	left:10px;
}

.fw-file-drag-handle:hover {
	cursor:grab;
}

.fw-divider {
	width:100%;
	height: 1px;
	background-color:#ccc;
	margin:20px 0;
}